<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="Admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="Admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <div class="content-wrapper" style="min-height: 332.4px;">
        <h3 style="text-align: center">Thêm tài khoản</h3>
        <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
            <div class="form-group">
                <label >Họ và tên</label>
                <input type="text" class="form-control"  placeholder="Nhập họ và tên">
            </div>
            <div class="form-group">
                <label >Tên đăng nhập</label>
                <input type="text" class="form-control"  placeholder="Nhập tên đăng nhập">
            </div>
            <div class="form-group">
                <label >Ngày sinh</label>
                <input type="date" class="form-control"  placeholder="dd/MM/yyyy">
            </div>
            <div class="form-group">
                <label >Địa chỉ</label>
                <input type="text" class="form-control"  placeholder="Nhập địa chỉ">
            </div>
            <div class="form-group">
                <label >Số địên thọai</label>
                <input type="text" class="form-control"  placeholder="Nhập số điện thoại">
            </div>
            <div class="form-group">
                <label >Email</label>
                <input type="email" class="form-control"  placeholder="Nhập email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mật Khẩu</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập mật khẩu">
            </div>

            <div class="form-group">
                <label for="exampleInputFile">Ảnh đại diện</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile"> Chọn file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
        </div>
    </div>
    <!-- End Content -->
    <style>
        div, label,button,h3{
            font-family: "Times New Roman";
        }
    </style>
    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>
<div th:replace="Admin/fragments/script :: script"></div>
</body>
</html>
