<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <div class="content-wrapper" style="min-height: 332.4px;">
        <h3 style="text-align: center; padding: 5px 0px 5px 0px">Danh sách tài khoản</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nhập tài khoản cần tìm kiếm">
            <button  type="button" class="btn btn-block btn-outline-primary">Tìm kiếm</button>
        </div>
        <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table style="width: 100%" id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th>ID</th>
                                <th>Họ và Tên</th>
                                <th>Tên đăng nhập</th>
                                <th>Điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Email</th>
                                <th>Quyền</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="user-list"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div style="margin-left: 8%" class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Cập nhập</button>
                </div>
            </div>
        </div>
    </div>



    <style>
        table, tr, th, td, h3 {
            text-align: center;
            font-family: "Times New Roman";
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        .form-group label {
            width: 35px;
            margin: 5px 0 0 20px;
        }

        .form-group input {
            width: 250px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .form-group button {
            width: 150px;
        }
    </style>

    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

<div th:replace="admin/fragments/script :: script"></div>

<script>
    $(document).ready(function () {
        initData();
    });

    function initData() {
        getUser();
    }

    function getUser() {
        let bodyTable = $('#user-list');
        bodyTable.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/user/list",
            dataType: "json",
            success: function (response) {
                console.log(response);
                let users = response?.data;
                let bodyTable = $('#user-list');
                bodyTable.empty();

                users.forEach(function (data) {
                    let roleNames = '';
                    for (let i = 0; i < data.roleDtos.length; i++) {
                        roleNames += data.roleDtos[i].name;
                        if (i < data.roleDtos.length - 1) {
                            roleNames += ', ';
                        }
                    }

                    let row = '<tr role="row" class="odd">' +
                        '<td tabindex="0" class="sorting_1">' + data.id + '</td>' +
                        '<td>' + data.name + '</td>' +
                        '<td>' + data.username + '</td>' +
                        '<td>' + data.phone + '</td>' +
                        '<td>' + data.address + '</td>' +
                        '<td>' + data.email + '</td>' +
                        '<td>' + roleNames + '</td>' +
                        '<td>' +
                        '<a type="button" class="btn btn-default edit-user-btn" data-id="' + data.id + '"><i class="fa-regular fa-pen-to-square"></i></a> ' +
                        '<a type="button" class="btn btn-default delete-user-btn" data-id="' + data.id + '"><i class="far fa-trash-can"></i></a>' +
                        '</td>' +
                        '</tr>';
                    bodyTable.append(row);
                });
                $('.edit-user-btn').click(function(event) {
                    event.preventDefault();
                    var userId = $(this).data('id');

                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/user/search/" + userId,
                        success: function(response) {
                            var user = response.data;
                            window.location.href = '/admin/update_account?id=' + user.id;
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });

                $('.delete-user-btn').click(function(event) {
                    event.preventDefault();
                    var userId = $(this).data('id');
                    if (confirm('Bạn chắc chắn muốn xóa tài khoản này?')) {
                        $.ajax({
                            type: "DELETE",
                            url: "http://localhost:8080/api/user/delete/" + userId,
                            success: function(response){
                                console.log(response);
                                $('#deleteBtn' + userId).closest('tr').remove();
                                window.location.reload();
                            },
                            error: function (error){
                                console.log(error);
                            }
                        });
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>
</body>
</html>
