<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <div class="content-wrapper" style="min-height: 332.4px;">
        <h3 style="text-align: center; padding: 5px 0px 5px 0px">Danh sách tài khoản</h3>
        <form class="form_search" id="searchForm" style="margin-left: 55%">
            <div class="form-group" style="margin-right: 20px">
                <input style="width: 400px" name="condition" id="searchCondition" type="text" class="form-control" placeholder="Nhập mã tài khoản hoặc họ tên cần tìm ?">
                <button type="button" id="searchBtn" class="btn btn-block btn-outline-primary">Tìm kiếm</button>
            </div>
        </form>
        <style>
            .form-group {
                display: flex;
                align-items: center;
            }

            .form-group label {
                width: 35px;
                margin: 5px 0 0 20px;
            }

            .form-group input {
                width: 230px;
                margin-left: 20px;
                margin-right: 20px;
            }

            .form-group button {
                width: 150px;
            }

        </style>

        <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table style="width: 100%" id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th>ID</th>
                                <th>Mã tài khoản</th>
                                <th>Họ và Tên</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Quyền</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="user-list"></tbody>
                        </table>
                    </div>
                </div>

                <nav aria-label="...">
                    <ul class="pagination" id="pageId" style="justify-content: center">
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <!-- Modals -->
    <div style="margin-left: 8%" class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Cập nhập</button>
                </div>
            </div>
        </div>
    </div>



    <style>
        table, tr, th, td, h3 {
            text-align: center;
            font-family: "Times New Roman";
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        .form-group label {
            width: 35px;
            margin: 5px 0 0 20px;
        }

        .form-group input {
            width: 250px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .form-group button {
            width: 150px;
        }
    </style>

    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

<div th:replace="admin/fragments/script :: script"></div>

<script>
    $(document).ready(function () {
        initData();
    });

    function initData() {
        let page = 0;
        let size = 5;
        getUser(page,size);
    }

    function getUser(page,size) {
        let bodyTable = $('#user-list');
        bodyTable.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/user/list?page=" + page + "&size=" + size,
            dataType: "json",
            success: function (response) {
                console.log(response);
                let users = response?.data?.content;
                for (let i = 0; i < users.length; i++) {
                    let roleNames = '';
                    for (let j = 0; j < users[i].roleDtos.length; j++) {
                        roleNames += users[i].roleDtos[j].name;
                        if (j < users[i].roleDtos.length - 1) {
                            roleNames += ', ';
                        }
                    }
                    let data = users[i];
                    let row = '<tr role="row" class="odd" >' +
                        '<td tabindex="0" class="sorting_1">' + data.id + '</td>' +
                        '<td>' + data.code + '</td>' +
                        '<td>' + data.name + '</td>' +
                        '<td>' + data.username + '</td>' +
                        '<td>' + data.email + '</td>' +
                        '<td>' + data.address + '</td>' +
                        '<td>' + roleNames + '</td>' +
                        '<td>' +
                        '<a type="button" class="btn btn-default edit-user-btn" data-id="' + data.id + '"><i class="fa-regular fa-pen-to-square"></i></a> ' +
                        '<a type="button" class="btn btn-default delete-user-btn" data-id="' + data.id + '"><i class="far fa-trash-can"></i></a>' +
                        '</td>' +
                        '</tr>';
                    bodyTable.append(row);
                }

                // Phân trang
                let totalPage = response.data.totalPages;
                let currentPage = response.data.pageable.pageNumber;
                if (totalPage > 0) {
                    $("#pageId").empty();
                    let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',5,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-270"></i></a></li>';
                    for (let i = 0; i < totalPage; i++) {
                        if (currentPage === i) {
                            pages += '            <li class="page-item active">\n' +
                                '                <a class="page-link " onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">';
                        } else {
                            pages += '            <li class="page-item">\n' +
                                '                <a class="page-link" onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">';
                        }
                    }
                    pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',5,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-90"></i></a></li>';
                    $("#pageId").append(pages);
                }

                $('.edit-user-btn').click(function(event) {
                    event.preventDefault();
                    var userId = $(this).data('id');

                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/user/search/" + userId,
                        success: function(response) {
                            var user = response.data;
                            window.location.href = '/admin/update_account?id=' + user.id;
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });

                $('.delete-user-btn').click(function(event) {
                    event.preventDefault();
                    var userId = $(this).data('id');
                    if (confirm('Bạn chắc chắn muốn xóa tài khoản này?')) {
                        $.ajax({
                            type: "DELETE",
                            url: "http://localhost:8080/api/user/delete/" + userId,
                            success: function(response){
                                console.log(response);
                                $('#deleteBtn' + userId).closest('tr').remove();
                                window.location.reload();
                            },
                            error: function (error){
                                console.log(error);
                            }
                        });
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function changePage(page, size, event) {
        event.preventDefault();
        getUser(page,size);
    }

    var check = false;
    function  search(page, size) {
        event.preventDefault();
        var searchCondition = $("#searchCondition").val();
        if (check) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/user/searchByCondition/" + searchCondition,
                data: { page: page, size: size },
                success: function(response) {
                    $("#user-list").empty();
                    console.log(response);
                    let users = response?.data?.content;
                    for (let i = 0; i < users.length; i++) {
                        let roleNames = '';
                        for (let j = 0; j < users[i].roleDtos.length; j++) {
                            roleNames += users[i].roleDtos[j].name;
                            if (j < users[i].roleDtos.length - 1) {
                                roleNames += ', ';
                            }
                        }
                        let data = users[i];
                        let row = '<tr role="row" class="odd" >' +
                            '<td tabindex="0" class="sorting_1">' + data.id + '</td>' +
                            '<td>' + data.code + '</td>' +
                            '<td>' + data.name + '</td>' +
                            '<td>' + data.username + '</td>' +
                            '<td>' + data.email + '</td>' +
                            '<td>' + data.address + '</td>' +
                            '<td>' + roleNames + '</td>' +
                            '<td>' +
                            '<a type="button" class="btn btn-default edit-user-btn" data-id="' + data.id + '"><i class="fa-regular fa-pen-to-square"></i></a> ' +
                            '<a type="button" class="btn btn-default delete-user-btn" data-id="' + data.id + '"><i class="far fa-trash-can"></i></a>' +
                            '</td>' +
                            '</tr>';
                        $("#user-list").append(row);
                    }

                    let totalPage = response.data.totalPages;
                    let currentPage = response.data.pageable.pageNumber;
                    if (totalPage > 0) {
                        $("#pageId").empty();
                        let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',5,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-270"></i></a></li>';
                        for (let i = 0; i < totalPage; i++) {
                            if (currentPage === i) {
                                pages += '            <li class="page-item active">\n' +
                                    '                <a class="page-link " onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                    '            <li class="page-item">';
                            } else {
                                pages += '            <li class="page-item">\n' +
                                    '                <a class="page-link" onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                    '            <li class="page-item">';
                            }
                        }
                        pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',5,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-90"></i></a></li>';
                        $("#pageId").append(pages);
                    }
                    $('.edit-user-btn').click(function(event) {
                        event.preventDefault();
                        var userId = $(this).data('id');

                        $.ajax({
                            type: "GET",
                            url: "http://localhost:8080/api/user/search/" + userId,
                            success: function(response) {
                                var user = response.data;
                                window.location.href = '/admin/update_account?id=' + user.id;
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    });

                    $('.delete-user-btn').click(function(event) {
                        event.preventDefault();
                        var userId = $(this).data('id');
                        if (confirm('Bạn chắc chắn muốn xóa tài khoản này?')) {
                            $.ajax({
                                type: "DELETE",
                                url: "http://localhost:8080/api/user/delete/" + userId,
                                success: function(response){
                                    console.log(response);
                                    $('#deleteBtn' + userId).closest('tr').remove();
                                    window.location.reload();
                                },
                                error: function (error){
                                    console.log(error);
                                }
                            });
                        }
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
        } else {
            getUser(page,size);
        }
    }


    $("#searchBtn").click(function() {
        check = !check;
        let page = 0;
        let size = 5;
        search(page, size);
    });

    function changePage(page, size, event) {
        event.preventDefault();
        search(page, size);
    }

</script>
</body>
</html>
