<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="Admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="Admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <div class="content-wrapper" style="min-height: 332.4px;">
        <h3 style="text-align: center;padding: 5px 0px 5px 0px">Danh sách danh mục</h3>
        <button style="width: 100px; float: left;margin-left: 20px" data-toggle="modal" data-target="#modal-lg" type="button" class="btn btn-block btn-outline-info"><i class="fa-solid fa-plus"></i> Thêm</button>
        <form class="form_search" method="get" onsubmit="search()">
            <div class="form-group">
                <input name="id" id="cateUid" type="number" class="form-control" placeholder="Nhập ID danh mục cần tìm kiếm">
                <button type="submit" class="btn btn-block btn-outline-primary" >Tìm kiếm</button>
            </div>
        </form>
        <style>
            .form_search{
                margin-left: 808px;
            }

            .form-group {
                display: flex;
                align-items: center;
            }

            .form-group label {
                width: 35px;
                margin: 5px 0 0 20px;
            }

            .form-group input {
                width: 250px;
                margin-left: 20px;
                margin-right: 20px;
            }

            .form-group button {
                width: 150px;
            }
        </style>
        <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table style="width: 100%" id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Mã danh mục</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Tên danh mục</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd" th:each="category : ${categories.data}">
                                <td tabindex="0" class="sorting_1" th:text="${category.id}"></td>
                                <td th:text="${category.code}"></td>
                                <td th:text="${category.name}"></td>

                                <td>
                                    <a th:href="@{/admin/update_category/{id}(id=${category.id})}" type="button" class="btn btn-default">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>

                                    <a th:href="@{/admin/delete/{id}(id=${category.id})}" onclick="return confirm('Bạn chắc chắn muốn xóa?')" class="btn btn-default">
                                        <i class="far fa-trash-can"></i>
                                    </a>


                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <style>
        table,tr,th,td,h3{
            text-align: center;
            font-family: "Times New Roman";
        }

    </style>
    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>
<div th:replace="Admin/fragments/script :: script"></div>

<div style="margin-left:200px ; margin-top: 50px" class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 500px">
            <form method="post" th:action="@{/admin/add_category}" th:object="${categoryDTO}">
                <div class="modal-header">
                    <h4 class="modal-title">Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label style="width: 135px">Mã danh mục</label>
                        <input th:name="code" type="text" class="form-control" placeholder="Nhập mã danh mục">
                    </div>
                    <div class="form-group">
                        <label style="width: 135px">Tên danh mục</label>
                        <input th:name="name" type="text" class="form-control" placeholder="Nhập tên danh mục">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script >
    function search(){
        event.preventDefault();
        let id = document.getElementById("cateUid").value
        window.location.href="/admin/search/"+id
    }
</script>
</div>
</body>
</html>