<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{auth/https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{auth/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{auth/css/owl.carousel.min.css}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{auth/css/bootstrap.min.css}">

    <!-- Style -->
    <link rel="stylesheet" th:href="@{auth/dangky.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login #2</title>
</head>
<body>


<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/auth/images/backgournd.png');"></div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>Đăng ký</h3>

                    <form action="#" method="post">
                        <div class="form-group first">
                            <label >Họ tên</label>
                            <input type="text" class="form-control" placeholder="Nhập họ tên" name="fullname">
                        </div>
                        <div class="form-group first">
                            <label >Tên đăng nhập</label>
                            <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" name="username">
                        </div>
                        <div class="form-group first">
                            <label >Ngày sinh</label>
                            <input type="date" class="form-control"  name="birthday">
                        </div>
                        <div class="form-group first">
                            <label >Email</label>
                            <input type="email" class="form-control" placeholder="Nhập email" name="email">
                        </div> <div class="form-group first">
                        <label >Số điện thoại</label>
                        <input type="text" class="form-control" placeholder="Nhập số điện thoại" id="phone">
                    </div>

                        <div class="form-group last mb-3">
                            <label for="password">Password</label>
                            <div class="password-input-container">
                                <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="password">
                                <i class="fa fa-eye-slash" id="togglePassword"></i>
                            </div>
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password">Password</label>
                            <div class="password-input-container">
                                <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="password-comfimation">
                                <i class="fa fa-eye-slash" id="togglePassword1"></i>
                            </div>
                        </div>



                        <button id="btn" type="submit" class="btn btn-block btn-primary" >Đăng ký </button>

                        <p style="text-align: center;color: black; margin-top: 20px;">Bạn đã có tài khoản ? <a th:href="@{login}">Đăng nhập ngay</a>

                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


<style>
    .password-input-container {
        position: relative;
    }

    #password {
        padding-right: 30px;
    }

    #togglePassword {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    #togglePassword1 {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }


</style>
<script>

        var passwordInput = document.getElementById('password');
        var togglePassword = document.getElementById('togglePassword');
        var togglePassword1 = document.getElementById('togglePassword1');
        var passwordInput1 = document.getElementById('password-comfimation');

        togglePassword.addEventListener('click', function() {
        var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        togglePassword.className = type === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye';
    });
        togglePassword1.addEventListener('click', function() {
            var type = passwordInput1.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput1.setAttribute('type', type);
            togglePassword1.className = type === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye';
        });

</script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>