<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <nav th:replace="admin/fragments/navbar :: navbar"></nav>
  <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
  <!-- Content -->
  <div class="content-wrapper" style="min-height: 332.4px;">
    <h3 style="text-align: center;padding: 5px 0px 5px 0px">Danh sách màu</h3>
    <button style="width: 100px; float: left;margin-left: 20px" data-toggle="modal" data-target="#modal-lg" type="button" class="btn btn-block btn-outline-info"><i class="fa-solid fa-plus"></i> Thêm</button>
    <form class="form_search" method="get" onsubmit="search()">
      <div class="form-group">
        <input name="id" id="cateUid" type="number" class="form-control" placeholder="Nhập ID danh mục cần tìm kiếm">
        <button type="submit" class="btn btn-block btn-outline-primary">Tìm kiếm</button>
      </div>
    </form>
    <style>
      .form_search {
        margin-left: 808px;
      }

      .form-group {
        display: flex;
        align-items: center;
      }

      .form-group label {
        width: 35px;
        margin: 5px 0 0 20px;
      }

      .form-group input {
        width: 250px;
        margin-left: 20px;
        margin-right: 20px;
      }

      .form-group button {
        width: 150px;
      }
    </style>
    <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
      <table style="width: 100%" id="tableDate" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
        <thead>
        <tr role="row">
          <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Tên màu</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Hình ảnh</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Hành động</th>
        </tr>
        </thead>
        <tbody id="color-list">

        </tbody>
      </table>
    </div>
  </div>
  <!-- End Content -->
  <aside class="control-sidebar control-sidebar-dark"></aside>


</div>
<style>
  table,tr,th,td,h3{
    text-align: center;
    font-family: "Times New Roman";
  }

</style>
<div th:replace="admin/fragments/script :: script"></div>

<!-- Modal -->

<div style="margin-left:200px ; margin-top: 50px" class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 500px">
      <form action="/colors/add" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h4 class="modal-title">Add Color</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label style="width: 135px">Tên màu</label>
            <input name="name" type="text" class="form-control" placeholder="Nhập tên màu">
          </div>
          <div class="form-group">
            <label style="width: 135px">Hình ảnh</label>
            <input name="image" type="file" class="form-control" placeholder="Nhập đường dẫn hình ảnh">
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>
  $(document).ready(function () {
    initData();
  });
  function initData() {
    getColor();
  }
  function getColor() {
    let bodyTable = $('#tableDate > tbody');
    bodyTable.empty();
    $.ajax({
      type: "GET",
      url: "http://localhost:8080/color/list",
      dataType: "json",
      success: function (response) {
        console.log(response);
        let colors = response?.data;
        colors.forEach(function (data) {
          let row = '<tr role="row" class="odd" >' +
                  '<td tabindex="0" class="sorting_1" >' + data.id + '</td>' +
                  '<td style="width: 15%;">' + data.name + '</td>' +
                  '<td><img style="width: 50px;height: 50px" src="data:image/png;base64, ' + data.image + '"></td>' +
                  '<td> <a  class="btn btn-default edit-color-btn" data-id="' + data.id + '"><i class="fa-regular fa-pen-to-square"></i></a> ' +
                  '<a class="btn btn-default delete-color-btn" data-id="' + data.id + '"> <i class="far fa-trash-can"></i></a></td>' +
                  '</tr>';
          bodyTable.append(row);
        });


        $('.delete-color-btn').click(function(event) {
          event.preventDefault();
          var colorId = $(this).data('id');
          if (confirm('Bạn chắc chắn muốn xóa?')) {
            $.ajax({
              type: "POST",
              url: "http://localhost:8080/color/delete/" + colorId,
              success: function(response){
                console.log(response);

                $('#deleteBtn' + colorId).closest('tr').remove();
                window.location.reload();
              },
              error: function (error){
                console.log(error);
              }
            });
          }
        });


        $('.edit-color-btn').click(function(event) {
          event.preventDefault();
          var colorId = $(this).data('id');

          $.ajax({
            type: "GET",
            url: "http://localhost:8080/color/search/" + colorId,
            success: function(response) {
              var category = response.data;
              window.location.href = '/admin/update_color?id=' + category.id;
            },
            error: function(error) {
              console.log(error);
            }
          });
        });


      },
      error: function (error){
        console.log(error);
      }
    });
  }x



  $('#modal-lg form').submit(function (event) {
    event.preventDefault();

    var formData = {
      name: $('input[name="name"]').val(),
      image: $('input[name="image"]').val()
    };

    $.ajax({
      type: "POST",
      url: "http://localhost:8080/color/create",
      contentType: "application/json",
      data: JSON.stringify(formData),
      dataType: "json",
      success: function (response) {
        console.log(response);
        $('#modal-lg').modal('hide');
        window.location.reload();
      },
      error: function (error){
        console.log(error);
      }
    });
  });
</script>
</body>
</html>
