<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head th:replace="user/fragments/head :: head"></head>
<body>
<!--================ Start Header Menu Area =================-->
<header th:replace="user/fragments/header :: header"></header>
<!--================ End Header Menu Area =================-->

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">

    <div class="container h-100" >
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head" style="white-space: nowrap;">Danh mục sản phẩm</div>
                    <ul class="main-categories" style="height: auto">
                        <li class="common-filter" style="height: auto">
                            <form action="#">
                                <ul id="list_category">
                                    <!-- Dữ liệu được thêm vào đây -->
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>
                <br>
                <hr>
                <br>
                <div class="form-group"><label style="color: black;font-size: 18px">Tìm kiếm theo khoảng giá</label></div>
                <div class="form-row">
                    <div class="col">
                        <input type="number" class="form-control" id="startedPrice">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" id="endPrice">
                    </div>
                </div>

            </div>

            <div class="col-xl-9 col-lg-8 col-md-7">

                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div id="productContainer" class="row">
                    </div>

                    <nav aria-label="...">
                        <ul class="pagination" id="pageId" style="float: right;">

                        </ul>
                    </nav>
                </section>
                <script>
                    $(document).ready(function () {
                        $('#productContainer').on('click', '.my-button', function(event) {
                            event.preventDefault();
                            var productId = $(this).data('id');

                            $.ajax({
                                type: "GET",
                                url: "http://localhost:8080/product/search/" + productId,
                                success: function(response) {
                                    var product = response.data;
                                    window.location.href = '/user/product_dentails?id=' + productId;
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                        });
                    });



                </script>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<style>
    .common-filter {
        height: 300px;
        overflow-y: scroll;
    }
    .common-filter::-webkit-scrollbar {
        display: none;
    }
    .common-filter {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>
<!-- ================ top product area end ================= -->

<div th:replace="user/fragments/footer :: footer"></div>

<div th:replace="user/fragments/script :: script"></div>
<script>

    $(document).ready(function () {
        loadCategories();
        let page = 0;
        let size = 9;
        loadAllProducts(page, size);

        // tim kiem theo rangeprice
        var startedPrice = $('#startedPrice').val();
        var endPrice = $('#endPrice').val();
        loadProductsInPriceRange(startedPrice, endPrice);

        // Sự kiện khi phần tử input range thay đổi
        $('#startedPrice, #endPrice').on('input', function() {
            var startedPrice = $('#startedPrice').val();
            var endPrice = $('#endPrice').val();
            loadProductsInPriceRange(startedPrice, endPrice);
        });
    });

    function loadAllProducts(page, size) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/product/list?page=" + page + "&size=" + size,
            dataType: "json",
            success: function(response) {
                let products = response?.data?.content;
                displayProducts(products);
                let totalPage = response.data.totalPages;
                let currentPage = response.data.pageable.pageNumber;
                if (totalPage > 0) {
                    $("#pageId").empty();
                    let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',9,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-270"></i></a></li>';
                    for (let i = 0; i < totalPage; i++) {
                        if (currentPage === i) {
                            pages += '            <li class="page-item active">\n' +
                                '                <a class="page-link " onclick="changePage(' + i + ',9,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">';
                        } else {
                            pages += '            <li class="page-item">\n' +
                                '                <a class="page-link" onclick="changePage(' + i + ',9,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">';
                        }
                    }
                    pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',9,event)" href="#"><i class="fa-solid fa-chevron-up fa-rotate-90"></i></a></li>';
                    $("#pageId").append(pages);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function displayProducts(products) {
        let productContainer = $('#productContainer');
        productContainer.empty();
        for (var i = 0; i < products.length; i++) {
            var product = products[i];
            // Tạo HTML cho từng sản phẩm
            var productHtml =
                '<div class="col-md-6 col-lg-4">' +
                '<div class="card text-center card-product">' +
                '<div class="card-product__img">' +
                '<img class="card-img" src="https://tse2.mm.bing.net/th?id=OIP.PQA6NVTDRyMm_srXe_8w6gHaF7&pid=Api&P=0&h=220">' +
                '<ul class="card-product__imgOverlay">' +
                '<li><button class="my-button" data-id="' + product.id + '"><i style="width: 15px;height: 15.2px" class="fa-solid fa-info"></i></button></li>' +
                '<li><button><i class="ti-heart"></i></button></li>' +
                '</ul>' +
                '</div>' +
                '<div class="card-body">' +
                '<h4 class="card-product__title"><a href="#">' + product.name + '</a></h4>' +
                '<p class="card-product__price">' + product.price + 'VNĐ</p>' +
                '</div>' +
                '</div>' +
                '</div>';
            console.log(product)
            productContainer.append(productHtml);
        }
    }

    function loadProductsByCategory(categoryId) {
        let productContainer = $('#productContainer');
        productContainer.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/product/searchProductByCategories/" + categoryId,
            dataType: "json",
            success: function(response) {
                let products = response?.data;
                displayProducts(products);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    function changePage(page, size,event) {
        event.preventDefault();
        loadAllProducts(page, size);
    }
    function loadCategories() {
        let listCategory = $('#list_category');
        listCategory.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/category/list",
            dataType: "json",
            success: function (response) {
                console.log(response);
                let categories = response?.data?.content;
                for (let i = 0; i < categories.length; i++) {
                    let data = categories[i];
                    let li = '<li class="filter-list"><input class="pixel-radio" type="radio" id="' + data.id + '" name="category"><label for="' + data.id + '">' + data.name + '</label></li>';
                    listCategory.append(li);
                }

                // Khi danh mục được tải, gán sự kiện khi người dùng chọn một danh mục
                $('.pixel-radio').change(function() {
                    var categoryId = $(this).attr('id');
                    loadProductsByCategory(categoryId);
                });
            },
            error: function (error){
                console.log(error);
            }
        });
    }

    function loadProductsInPriceRange(startedPrice, endPrice) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/product/searchByPriceRange?minPrice=" + startedPrice + "&maxPrice=" + endPrice,
            dataType: "json",
            success: function(response) {
                let products = response?.data;
                displayProducts(products);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }


</script>


</body>
</html>