<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="admin/fragments/head :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <form method="post" id="addProductForm">
        <div class="content-wrapper" style="min-height: 332.4px;">
            <h3 style="text-align: center">Thêm sản phẩm</h3>
            <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
                <div class="form-group">
                    <label>Mã sản phẩm</label>
                    <input id="code" name="productCode" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input id="name" name="productName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Chất liệu</label>
                    <input id="material" name="productMaterial" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Số lượng</label>
                    <input id="quantity" name="productQuantity" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giá bán </label>
                    <input id="price" name="productPrice" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giá nhập </label>
                    <input id="import_price" name="productImportPrice" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Danh mục</label>
                    <select class="custom-select" id="list_category" name="categoryId">

                    </select>
                </div>

                <div class="form-group">
                    <label>Nhà sản xuất</label>
                    <select class="custom-select" id="list_producer" name="producerId">

                    </select>
                </div>

                <div class="form-group">
                    <label>Size</label>
                    <div class="form-group-size" name="sizeId" id="list_size">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                            <label for="customCheckbox1" class="custom-control-label">XS</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Màu sắc</label>
                    <select class="js-example-basic-multiple" name="colorId" id="list-color" multiple="multiple"
                            style="width: 100%; height: 200px; font-size: 20px">
                    </select>
                </div>

                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control" name="productDescription" id="description" cols="150" rows="5"></textarea>
                </div>
            </div>
        </div>

            <button type="submit" class="btn btn-block btn-outline-primary btn-lg">Thêm sản phẩm</button>

    </form>
    <style>
        div, label, button, h3 {
            font-family: "Times New Roman";
        }

        .form-group-size .custom-control {
            display: inline-block;
            margin-right: 90px; /* Khoảng cách giữa các checkbox */
        }

    </style>
    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

<div th:replace="admin/fragments/script :: script"></div>

</body>
</html>
<script>
    function initData() {
        getProducer();
        getCategory();
        getColor();
        getSize();
    }

    function getProducer() {
        let list = $('#list_producer');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/producer/list",
            dataType: "json",
            success: function (response) {
                console.log(response);
                let producers = response?.data?.content;
                for (let i = 0; i < producers.length; i++) {
                    let data = producers[i];
                    let option = '<option value="' + data.id + '">' + data.name + '</option>';
                    list.append(option);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function getCategory() {
        let list = $('#list_category');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/category/list",
            dataType: "json",
            success: function (response) {
                console.log(response);
                let categories = response?.data?.content;
                for (let i = 0; i < categories.length; i++) {
                    let data = categories[i];
                    let option = '<option value="' + data.id + '">' + data.name + '</option>';
                    list.append(option);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function getSize() {
        let list = $('#list_size');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/size/list",
            dataType: "json",
            success: function (response) {
                let sizes = response?.data;
                sizes.forEach(function (size) {
                    let checkbox = $('<div class="custom-control custom-checkbox"> \
                    <input class="custom-control-input" type="checkbox" id="customCheckbox' + size.id + '" value="' + size.name + '"> \
                    <label for="customCheckbox' + size.id + '" class="custom-control-label">' + size.name + '</label> \
                </div>');
                    $('#list_size').append(checkbox);
                    console.log(sizes)
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function getColor() {
        let list = $('#list-color');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/color/list",
            dataType: "json",
            success: function (response) {
                let colors = response?.data;
                colors.forEach(function (color) {
                    let option = '<option value="' + color.id + '">' + color.name + '</option>';
                    $('#list-color').append(option);
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    $(document).ready(function () {
        initData();
    });

    $('#addProductForm').submit(function (event) {
        event.preventDefault(); // Ngăn chặn form submit mặc định
        let sizeIds = [];
        $('input[type="checkbox"]:checked').each(function(){
            if($(this).is(':checked')) {
                console.log($(this).attr("id"))
                let idStr = $(this).attr("id");
                let numberId = idStr.substring('customCheckbox'.length,idStr.length);
                sizeIds.push(parseInt(numberId));
            }
        });
        let colorIds = $("#list-color").val().map(data => parseInt(data));
        var productData = {
            code: $('#code').val(),
            name: $('#name').val(),
            material: $('#material').val(),
            quantity: $('#quantity').val(),
            price: $('#price').val(),
            import_price: $('#import_price').val(),
            categoryId: $('#list_category').val(),
            producerId: $('#list_producer').val(),
            colorId: colorIds,
            sizeId: sizeIds,
            description: $('#description').val()
        };

        $.ajax({
            type: "POST",
            url: "http://localhost:8080/product/create",
            contentType: "application/json",
            data: JSON.stringify(productData),
            success: function (response) {
                window.location.href = "/admin/list_product";
                console.log(response)
            },
            error: function (error) {
            }
        });
    });

</script>