<!DOCTYPE html>
<html>
<head th:replace="Admin/fragments/head :: head"></head>
<!--<head>-->
<!--</head>-->
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="Admin/fragments/header :: header"></header>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->

    <aside th:replace="Admin/fragments/sidebar :: sidebar"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="text-align: center">
                Thêm sản phẩm
            </h1>

        </section>
        <div class="box-body">
            <div class="form-group">
                <label style="font-size: 20px; margin-left: 20px">Tên danh mục</label>
                <input type="text" class="form-control" id="" placeholder="Nhập tên danh mục" data-listener-added_3c82dc17="true">
            </div>
            <div class="form-group">
                <label style="font-size: 20px; margin-left: 20px">Tên danh mục</label>
                <input type="text" class="form-control" id="" placeholder="Nhập tên danh mục" data-listener-added_3c82dc17="true">
            </div>
            <div class="form-group">
                <label style="font-size: 20px; margin-left: 20px">Tên danh mục</label>
                <input type="text" class="form-control" id="" placeholder="Nhập tên danh mục" data-listener-added_3c82dc17="true">
            </div>
            <div class="form-group">
                <label style="font-size: 20px; margin-left: 20px">Tên danh mục</label>
                <input type="text" class="form-control" id="" placeholder="Nhập tên danh mục" data-listener-added_3c82dc17="true">
            </div>
            <div class="form-group">
                <label style="font-size: 20px; margin-left: 20px">Tên danh mục</label>
                <input type="text" class="form-control" id="" placeholder="Nhập tên danh mục" data-listener-added_3c82dc17="true">
            </div>
            <div class="form-group">
                <label style="font-size: 20px; margin-left: 20px">Tên danh mục</label>
                <input type="text" class="form-control" id="" placeholder="Nhập tên danh mục" data-listener-added_3c82dc17="true">
            </div>

                <label style="font-size: 20px; margin-left: 20px">Tên danh mục</label>
                <input type="file"  placeholder="Nhập tên danh mục" data-listener-added_3c82dc17="true">

            <div class="form-group">
                <button style="margin-left: 20px" type="submit" class="btn btn-primary">Thêm sản phẩm</button>
            </div>

        </div>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->

            <!-- /.box-body -->

            <!-- /.box-footer-->
    </div>
    <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer th:replace="Admin/fragments/footer :: footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="Admin/fragments/script :: script"></div>
</body>
</html>
