<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <div class="content-wrapper" style="min-height: 332.4px;">
        <h3 style="text-align: center;padding: 5px 0px 5px 0px">Danh sách sản phẩm</h3>
        <form action="">
            <div class="form-group">
                <input name="keyword" th:value="${keyword}" type="text" class="form-control"
                       placeholder="Nhập nhà sản xuất tìm kiếm">
                <button type="submit" class="btn btn-block btn-outline-primary">Tìm kiếm</button>

            </div>
        </form>
        <style>
            .form-group {
                display: flex;
                align-items: center;
            }

            .form-group label {
                width: 35px;
                margin: 5px 0 0 20px;
            }

            .form-group input {
                width: 250px;
                margin-left: 20px;
                margin-right: 20px;
            }

            .form-group button {
                width: 150px;
            }

        </style>
        <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tableDate" style="width: 100%"
                               class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                               aria-describedby="example2_info">
                            <thead>
                            <tr>
                                <th hidden="hidden">ID</th>
                                <th>STT</th>
                                <th>Mã sản phẩm</th>
                                <th style="width: 15%;">Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá sản phẩm</th>
                                <th>Kích thước</th>
                                <th>Màu</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


                <nav aria-label="...">
                    <ul class="pagination" id="pageId" style="float: right;">

                    </ul>
                </nav>


                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <!-- Script tùy chỉnh -->
                <script>
                    // vừa load xong trang web sẽ chạy luôn
                    $(document).ready(function () {
                        initData();
                    })

                    function initData() {
                        let page = 0;
                        let size = 5;
                        getProducts(page, size);
                    }

                    function getProducts(page, size) {
                        let bodyTable = $('#tableDate > tbody');
                        bodyTable.empty();
                        $.ajax({
                            type: "GET",
                            url: "http://localhost:8080/product/list?page=" + page + "&size=" + size,
                            dataType: "json",
                            success: function (response) {
                                console.log(response);
                                let products = response?.data?.content;
                                // hiển thị dữ liệu trên bảng
                                for (let i = 0; i < products.length; i++) {
                                    let data = products[i];
                                    let row = '<tr role="row" class="odd" >' +
                                        '<td tabindex="0" class="sorting_1" hidden="hidden">' + data.id + '</td>' +
                                        '<td>' + ( i + 1) + '</td>' +
                                        '<td >' + data.code + '</td>' +
                                        '<td style="width: 15%;">' + data.name + '</td>' +
                                        '<td>' + data.quantity + '</td>' +

                                        '<td>' + data.price + '</td>' +
                                        '<td>' + data.size + '</td>'
                                    ;
                                    let imageColor = '';
                                    if (data.imagesColor !== undefined && data.imagesColor !== null && data.imagesColor.length > 0) {
                                        for (let j = 0; j < data.imagesColor.length; j++) {
                                            imageColor += '<img style="width: 50px;height: 50px" src="data:image/png;base64, ' + data.imagesColor[j] + '">';
                                        }
                                    } else {
                                        imageColor += 'Empty';
                                    }
                                    row += '<td>' + imageColor + '</td>' +
                                        '<td> <a  class="btn btn-default edit-product-btn" data-id="' + data.id + '"><i class="fa-regular fa-pen-to-square"></i></a> ' +
                                        '<a class="btn btn-default delete-product-btn" data-id="' + data.id + '"> <i class="far fa-trash-can"></i></a></td>' +
                                        '</tr>';
                                    $('#tableDate').append(row);
                                }

                                // Phân trang
                                let totalPage = response.data.totalPages;
                                let currentPage = response.data.pageable.pageNumber;
                                if (totalPage > 0) {
                                    $("#pageId").empty();
                                    let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',5,event)" href="#">Previous</a></li>';
                                    for (let i = 0; i < totalPage; i++) {
                                        if (currentPage === i) {
                                            pages += '            <li class="page-item active">\n' +
                                                '                <a class="page-link " onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                '            <li class="page-item">';
                                        } else {
                                            pages += '            <li class="page-item">\n' +
                                                '                <a class="page-link" onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                '            <li class="page-item">';
                                        }
                                    }
                                    pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',5,event)" href="#">Next</a></li>';
                                    $("#pageId").append(pages);
                                }


                                $('.edit-product-btn').click(function(event) {
                                    event.preventDefault();
                                    var productId = $(this).data('id');

                                    $.ajax({
                                        type: "GET",
                                        url: "http://localhost:8080/product/search/" + productId,
                                        success: function(response) {
                                            var product = response.data;
                                            window.location.href = '/admin/update_product?id=' + product.id;
                                        },
                                        error: function(error) {
                                            console.log(error);
                                        }
                                    });
                                });


                                $('.delete-product-btn').click(function(event) {
                                    event.preventDefault();
                                    var productID = $(this).data('id');
                                    if (confirm('Bạn chắc chắn muốn xóa sản phẩm này?')) {
                                        $.ajax({
                                            type: "DELETE",
                                            url: "http://localhost:8080/product/delete/" + productID,
                                            success: function(response){
                                                console.log(response);

                                                $('#deleteBtn' + productID).closest('tr').remove();
                                                window.location.reload();
                                            },
                                            error: function (error){
                                                console.log(error);
                                            }
                                        });
                                    }
                                });
                            },
                            error: function (error) {
                                console.log(error);
                            }

                        });
                    }

                    function changePage(page, size, event) {
                        event.preventDefault();
                        getProducts(page, size);
                    }

                </script>
                <div th:replace="admin/fragments/script :: script"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
