<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <form id="updateForm" method="post">

        <div class="content-wrapper" style="min-height: 332.4px;">
            <h3 style="text-align: center">Chỉnh sửa thông tin sản phẩm</h3>
            <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
                <input type="hidden" id="ids" name="productId" class="form-control">
                <div class="form-group">
                    <label>Mã sản phẩm</label>
                    <input id="code" name="productCode" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input id="name" name="productName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Chất liệu</label>
                    <input id="material" name="productMaterial" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Số lượng</label>
                    <input id="quantity" name="productQuantity" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giá bán </label>
                    <input id="price" name="productPrice" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giá nhập </label>
                    <input id="import_price" name="productImportPrice" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Danh mục</label>
                    <select class="custom-select" id="list_category">
                        <option>Áo</option>
                        <option>Quần</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Nhà sản xuất</label>
                    <select class="custom-select" id="list_producer">
                        <option>Áo</option>
                        <option>Quần</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Size</label>
                    <div class="form-group-size" id="list_size">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                            <label for="customCheckbox1" class="custom-control-label">XS</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox2" value="option1">
                            <label for="customCheckbox2" class="custom-control-label">S</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="option1">
                            <label for="customCheckbox3" class="custom-control-label">M</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox4" value="option1">
                            <label for="customCheckbox4" class="custom-control-label">L</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox5" value="option1">
                            <label for="customCheckbox5" class="custom-control-label">XL</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox6" value="option1">
                            <label for="customCheckbox6" class="custom-control-label">XXL</label>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="container">
                        <div class="dual-list">
                            <div class="list">
                                <label>Danh sách màu</label>
                                <input style="margin-left: 415px;" type="text" id="left-search" placeholder="Search...">
                                <select  id="right-select" class="duallistbox" multiple="multiple">

                                </select>
                            </div>
                            <div class="list_2">
                                <label>Màu đã chọn</label>
                                <!--                                <input type="text" id="right-search" placeholder="Search...">-->
                                <select id="right-select" class="duallistbox_2" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" name="productDescription" id="description" cols="150" rows="5"></textarea>
                    </div>


            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-block btn-outline-primary btn-lg">Cập nhập</button>
            </div>
        </div>
    </form>

    <!-- End Content -->
    <style>
        div, label, button, h3 {
            font-family: "Times New Roman";
        }
    </style>
    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>
<div th:replace="admin/fragments/script :: script"></div>
<style>
    div, label,button,h3{
        font-family: "Times New Roman";
    }
    .form-group-size .custom-control {
        display: inline-block;
        margin-right: 90px; /* Khoảng cách giữa các checkbox */
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .dual-list {
        display: flex;
    }

    .list {
        margin: 0 10px;
        display: inline-block;
    }
    .list_2{
        margin-top: 29px;
    }
    .duallistbox{
        width: 615px;
        height: 153px;
        padding: 10px;
        margin-top: 10px;
    }
    .duallistbox_2{
        width: 615px;
        height: 153px;
        padding: 10px;
        margin-top: 10px;
    }

</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const leftSelect = document.getElementById('right-select');
        const rightSelect = document.getElementById('left-select');

        leftSelect.addEventListener('click', function() {
            const selectedOption = leftSelect.options[leftSelect.selectedIndex];
            selectedOption.style.backgroundColor = 'white'; // Set background color to white
            rightSelect.appendChild(selectedOption);
            leftSelect.selectedIndex = -1; // Deselect the option
        });

        rightSelect.addEventListener('click', function() {
            const selectedOption = rightSelect.options[rightSelect.selectedIndex];
            selectedOption.style.backgroundColor = 'white'; // Set background color to white
            leftSelect.appendChild(selectedOption);
            rightSelect.selectedIndex = -1; // Deselect the option
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const leftSelect = document.getElementById('left-select');
        const rightSelect = document.getElementById('right-select');
        const leftSearch = document.getElementById('left-search');
        const rightSearch = document.getElementById('right-search');

        leftSearch.addEventListener('input', function() {
            const searchValue = leftSearch.value.toLowerCase();
            Array.from(leftSelect.options).forEach(option => {
                const text = option.text.toLowerCase();
                option.style.display = text.includes(searchValue) ? 'block' : 'none';
            });
        });

        rightSearch.addEventListener('input', function() {
            const searchValue = rightSearch.value.toLowerCase();
            Array.from(rightSelect.options).forEach(option => {
                const text = option.text.toLowerCase();
                option.style.display = text.includes(searchValue) ? 'block' : 'none';
            });
        });
    });



</script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges   : {
                    'Today'       : [moment(), moment()],
                    'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                    'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate  : moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function(event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        });

        $("input[data-bootstrap-switch]").each(function(){
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

    })
</script>
<script>
    function initData() {
        getProducer();
        getCategory();

        getColores();
        getSizes();
    }
    function getProducer(){
        let list = $('#list_producer');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/producer/list",
            dataType: "json",
            success: function (response) {
                let producers = response?.data;

                producers.forEach(function (producer) {
                    let option = '<option value="' + producer.id + '">' + producer.name + '</option>';
                    list.append(option);
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function getCategory() {
        let list = $('#list_category');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/category/list",
            dataType: "json",
            success: function (response) {
                let categories = response?.data;

                categories.forEach(function (category) {
                    let option = '<option value="' + category.id + '">' + category.name + '</option>';
                    list.append(option);
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function getColores() {
        let list = $('#right-select');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/color/list",
            dataType: "json",
            success: function (response) {
                let colors = response?.data;
                colors.forEach(function (color) {
                    let option = '<option value="' + color.id + '">' + color.name + '</option>';
                    list.append(option);
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function  getSizes(){
        let list = $('#list_size');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/size/list",
            dataType: "json",
            success: function (response) {
                let sizes = response?.data;
                sizes.forEach(function (size) {
                    let option = '<label   value="' + size.id + '">' + size.name + '</label>';

                    list.append(option);
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function getInfoDataProduct(product) {
        $('#ids').val(product.id);
        $('#code').val(product.code);
        $('#name').val(product.name);
        $('#material').val(product.material);
        $('#quantity').val(product.quantity);
        $('#price').val(product.price);
        $('#import_price').val(product.import_price);
        $('#description').val(product.description);

    }

    $(document).ready(function () {
        initData();
        var productId = new URLSearchParams(window.location.search).get('id');
        if (productId) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/product/search/" + productId,
                success: function (response) {
                    getInfoDataProduct(response.data);
                    let data = response.data;
                    $('#list_producer').val(data.productId)
                    $('#list_category').val(data.categoryId)


                },
                error: function (error) {
                    console.log(error);
                }
            });
        }



        $('#updateForm').submit(function (event) {
            event.preventDefault();
            var formData = {
                id: $('#ids').val(),
                code: $('#code').val(),
                name: $('#name').val(),
                material: $('#material').val(),
                quantity: $('#quantity').val(),
                price: $('#price').val(),
                import_price: $('#import_price').val(),
                description: $('#description').val()
            };
            $.ajax({
                type: "PUT",
                url: "http://localhost:8080/product/update/" + formData.id,
                contentType: "application/json",
                data: JSON.stringify(formData),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    window.location.href = "/admin/list";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });




</script>

</body>
</html>
