<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
<!--================ Start Header Menu Area =================-->
<header th:replace="user/fragments/header :: header"></header>
<!--================ End Header Menu Area =================-->

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Product Checkout</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/user}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
<!--                    <h3>Chi tiết thanh toán</h3>-->
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">

                        <div class="col-md-12 form-group">
                            <label style="color: black">Họ tên</label>
                            <input readonly type="text" class="form-control" id="name" name="company" placeholder="Nhập ...">
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label style="color: black">Số điện thoại</label>
                            <input readonly type="text" class="form-control" id="phone" name="company" placeholder="Nhập ...">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label style="color: black">Địa chỉ</label>
                            <input readonly type="text" class="form-control" id="address" name="add1" placeholder="Nhập ...">

                        </div>


                        <div class="col-md-12 form-group mb-0">

                            <textarea class="form-control" name="message" id="note" rows="1"
                                      placeholder="Ghi chú đặt hàng"></textarea>
                        </div>
                        <div class="text-center">
                            <a id="backCart" class="btn btn-primary" th:href="@{/user/cart}">Quay lại giỏ hàng</a>
                        </div>
                    </form>

                </div>
                <div class="col-lg-4">
                    <h5 style="float: right;margin: 20px;" id="khtt"></h5>
                    <div class="order_box" id="listp_cart">
                        <h2>Đơn hàng của bạn</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #abtn {
        width: 250px;
        line-height: 30px;
        margin-bottom: 20px;
        border: none;
    }

    #abtn:hover {
        background: aqua;
        color: black;
    }

    #backCart {
        margin-top: 20px;
        border-radius: 20px;
        line-height: 30px;
        margin-left: 20px;
        border: orange;
    }

    #backCart:hover {
        background: orange;
        color: black;
    }
</style>
<div th:replace="user/fragments/footer :: footer"></div>

<div th:replace="user/fragments/script :: script"></div>


<div th:replace="user/fragments/script :: script"></div>
</body>
</html>
<script>
    $(document).ready(function () {
        initData();
    });

    function initData() {
        getProductsInCart();
        getUs();
    }
    function getUs(){
        $.ajax({
            url: 'http://localhost:8080/api/user/getUser',
            type: 'GET',
            success: function (data) {
                $('#userId').val(data.data.id);
                $('#name').val(data.data.name);
                $('#phone').val(data.data.phone);
                $('#address').val(data.data.address);

            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function getProductsInCart() {
        let bodyTable = $('#listp_cart');
        bodyTable.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/cart/listpOfUs",
            dataType: "json",
            success: function (response) {
                console.log(response);
                let cart = response?.data?.content;

                let commonHtml = "<div class='order_box'>" +
                    "                        <h2>Đơn hàng của bạn</h2>" +
                    "                        <ul class='list'>" +
                    "                            <li><a><h4>Sản phẩm <span>Giá</span></h4></a></li>";
                bodyTable.append(commonHtml);
                for (let i = 0; i < cart.length; i++) {
                    let product = cart[i];
                    let html = "<li><a>" + product.name + "<span class='middle'>x " + product.number + "</span> <span class='last'>" + product.total + "</span></a></li>";
                    bodyTable.find('.list').append(html);
                }

                let closingHtml = "</ul>" +
                    "</div>";
                bodyTable.append(closingHtml);

                // Calculate the total amount
                let ship = 20000;
                let sumOfNumberAndPriceProduct = 0;
                for (let i = 0; i < cart.length; i++) {
                    let proCart = cart[i];
                    let totalPrice = proCart.number * proCart.price;
                    sumOfNumberAndPriceProduct += totalPrice;
                }
                let sumTotal = sumOfNumberAndPriceProduct * 0.01;
                let sumTotalOfAllProductInCart = sumOfNumberAndPriceProduct - sumTotal + ship;
                console.log("Total amount to pay: ", sumTotalOfAllProductInCart);

                let additionalListHtml = "<ul class='list list_2'>" +
                    "<li><a>Phí ship <span>20.000 VNĐ</span></a></li>" +
                    "<li><a>Tổng tiền <span>" + sumTotalOfAllProductInCart.toLocaleString() + " VNĐ</span></a></li>" +
                    "</ul>";
                bodyTable.append(additionalListHtml);


                let rows = "<div class=\"payment_item\">" +
                    "                    <div class=\"radion_btn\">" +
                    "                        <input type=\"radio\" id=\"f-option5\" name=\"selector\">" +
                    "                            <label for=\"f-option5\">Thanh toán khi nhận hàng</label>" +
                    "                            <div class=\"check\"></div>" +
                    "                    </div>" +
                    "                    <p>Vui lòng nhập đầy đủ thông tin địa chỉ , số điện thoại....</p>" +
                    "                </div>" +
                    " <div class=\"payment_item active\">" +
                    "                            <div class=\"radion_btn\">" +
                    "                                <input type=\"radio\" id=\"f-option6\" name=\"selector\">" +
                    "                                <label for=\"f-option6\">Thanh toán bằng VNPay </label>" +
                    "                                <div class=\"check\"></div>" +
                    "                            </div>" +
                    "                            <p>Thanh toán qua VNPay , bạn có thể thanh toán bằng thẻ tín dụng, sẽ nhanh chóng và tiết" +
                    "                                kiệm thời gian.</p>" +
                    "                        </div>" +
                    " <div class=\"text-center\">" +
                    "                            <a id=\"abtn\" class=\"btn btn-danger\" href='/user/categroyshop'>Thanh toán khi nhận" +
                    "                                hàng</a>" +
                    "                            <a id=\"abtn\" class=\"btn btn-primary\" href=\"#\">Thanh toán VNPay</a>" +
                    "                        </div>"

                bodyTable.append(rows);

            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:8080/api/user/loyal-status',
            type: 'GET',
            success: function (data) {
                console.log(data)
                if (data.data.loyalCustomers) {
                    $('#khtt').text('Giảm 10%');
                } else {
                    $('#khtt').text('');
                }
            },
            error: function () {
                console.log(error)
            }
        });
    });


</script>