<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <div class="content-wrapper" style="min-height: 332.4px;">
        <h3 style="text-align: center;padding: 15px 0px 15px 0px">Danh sách đơn hàng</h3>
        <form class="form_search" id="searchForm" style="margin-left: 44%">
            <div class="form-group">
                <input style="width: 500px" name="condition" id="searchCondition" type="text" class="form-control" placeholder="Nhập mã đơn hàng hoặc tên người dùng cần tìm kiếm">
                <button type="button" id="searchBtn" class="btn btn-block btn-outline-primary">Tìm kiếm</button>
            </div>
        </form>
        <style>
            .form-group {
                display: flex;
                align-items: center;
            }

            .form-group label {
                width: 35px;
                margin: 5px 0 0 20px;
            }

            .form-group input {
                width: 250px;
                margin-left: 20px;
                margin-right: 20px;
            }

            .form-group button {
                width: 150px;
            }

        </style>
        <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tableDate" style="width: 100%"
                               class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                               aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th hidden="hidden">ID</th>
                                <th>STT</th>
                                <th>Mã đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>

                            </thead>
                            <tbody id="orders-list">

                            </tbody>

                        </table>
                    </div>
                </div>
                <nav aria-label="...">
                    <ul class="pagination" id="pageId" style="float: right;">
                    </ul>
                </nav>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <script>
                    // vừa load xong trang web sẽ chạy luôn
                    $(document).ready(function () {
                        initData();
                    });
                    function initData() {
                        let page = 0;
                        let size = 10;
                        getOrders(page, size);
                    }
                    function getOrders(page, size) {
                        let bodyTable = $('#tableDate > tbody');
                        bodyTable.empty();
                        $.ajax({
                            type: "GET",
                            url: "http://localhost:8080/order/list?page=" + page + "&size=" + size,
                            dataType: "json",
                            success: function (response) {
                                console.log(response);
                                let orders = response?.data?.content;
                                // hiển thị dữ liệu trên bảng
                                for (let i = 0; i < orders.length; i++) {
                                    let data = orders[i];
                                    let row = '<tr role="row" class="odd" >' +
                                        '<td hidden="hidden">' + data.id + '</td>' +
                                        '<td>' + (i+1) + '</td>' +
                                        '<td>' + data.code + '</td>' +
                                        '<td>' + data.nameUser + '</td>' +
                                        '<td>' + data.nameProduct + '</td>' +
                                        '<td>' + data.quantity + '</td>' +
                                        '<td>' + data.price + '</td>' +
                                        '<td>' + data.status + '</td>' +
                                        '<td> ' +
                                        '<a type="button" class="btn btn-default edit-order-btn" data-toggle="modal" data-target="#modal-xl" data-id="' + data.id + '"><i class="fa-regular fa-eye"></i></a> ' +
                                        '<a class="btn btn-default delete-order-btn" data-id="' + data.id + '"> <i class="far fa-trash-can"></i></a></td>' +
                                        '</tr>';
                                    bodyTable.append(row);
                                }
                                $('.edit-order-btn').click(function(event) {
                                    event.preventDefault();
                                    var id = $(this).data('id');

                                    $.ajax({
                                        type: "GET",
                                        url: "http://localhost:8080/order/search/" + id,
                                        success: function(response) {
                                            var order = response.data;
                                            window.location.href = '/admin/update_order?id=' + order.id;
                                        },
                                        error: function(error) {
                                            console.log(error);
                                        }
                                    });
                                });
                                $('.delete-order-btn').click(function(event) {
                                    event.preventDefault();
                                    var id = $(this).data('id');
                                    if (confirm('Bạn chắc chắn muốn xóa đơn hàng này?')) {
                                        $.ajax({
                                            type: "POST",
                                            url: "http://localhost:8080/order/delete/" + id,
                                            success: function(response){
                                                console.log(response);
                                                $('#deleteBtn' + id).closest('tr').remove();
                                                window.location.reload();
                                            },
                                            error: function (error){
                                                console.log(error);
                                            }
                                        });
                                    }
                                });

                                // Phân trang
                                let totalPage = response.data.totalPages;
                                let currentPage = response.data.pageable.pageNumber;
                                if (totalPage > 0) {
                                    $("#pageId").empty();
                                    let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',10,event)" href="#">Previous</a></li>';
                                    for (let i = 0; i < totalPage; i++) {
                                        if (currentPage === i) {
                                            pages += '            <li class="page-item active">\n' +
                                                '                <a class="page-link " onclick="changePage(' + i + ',10,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                '            <li class="page-item">';
                                        } else {
                                            pages += '            <li class="page-item">\n' +
                                                '                <a class="page-link" onclick="changePage(' + i + ',10,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                '            <li class="page-item">';
                                        }
                                    }
                                    pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',10,event)" href="#">Next</a></li>';
                                    $("#pageId").append(pages);
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }

                        });
                    }
                    function changePage(page, size, event) {
                        event.preventDefault();
                        getOrders(page, size);
                    }
                </script>
                <script>
                    $(document).ready(function() {
                        var checkStatus = false;

                        $('#searchBtn').click(function() {
                            checkStatus = !checkStatus;
                            search();
                        });

                        function search() {
                            var condition = $('#searchCondition').val();

                            if (checkStatus) {
                                $.ajax({
                                    type: "GET",
                                    url: "http://localhost:8080/order/searchByCondition/" + condition,
                                    dataType: "json",
                                    success: function(response) {
                                        console.log(response);
                                        $('#orders-list').empty();
                                        $.each(response.data, function(index, data) {
                                            var row = '<tr>' +
                                                '<td>' + data.id + '</td>' +
                                                '<td>' + data.code + '</td>' +
                                                '<td>' + data.nameUser + '</td>' +
                                                '<td>' + data.nameProduct + '</td>' +
                                                '<td>' + data.quantity + '</td>' +
                                                '<td>' + data.price + '</td>' +
                                                '<td>' + data.status + '</td>' +
                                                '<td> <a  class="btn btn-default edit-product-btn" data-id="' + data.id + '"><i class="fa-regular fa-pen-to-square"></i></a> ' +
                                                '<a class="btn btn-default delete-product-btn" data-id="' + data.id + '"> <i class="far fa-trash-can"></i></a></td>' +
                                                '</tr>';
                                            $('#orders-list').append(row);
                                        });
                                        $('.delete-order-btn').click(function(event) {
                                            event.preventDefault();
                                            var id = $(this).data('id');
                                            if (confirm('Bạn chắc chắn muốn xóa đơn hàng này?')) {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "http://localhost:8080/order/delete/" + id,
                                                    success: function(response){
                                                        console.log(response);

                                                        $('#deleteBtn' + id).closest('tr').remove();
                                                        window.location.reload();
                                                    },
                                                    error: function (error){
                                                        console.log(error);
                                                    }
                                                });
                                            }
                                        });
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                });
                            } else {
                                getOrders();
                            }
                        }
                        function getOrders() {
                            let page = 0;
                            let size = 5;
                            let bodyTable = $('#tableDate > tbody');
                            bodyTable.empty();
                            $.ajax({
                                type: "GET",
                                url: "http://localhost:8080/order/list?page=" + page + "&size=" + size,
                                dataType: "json",
                                success: function(response) {
                                    console.log(response);
                                    let orders = response?.data?.content;
                                    // hiển thị dữ liệu trên bảng
                                    for (let i = 0; i < orders.length; i++) {
                                        let data = orders[i];
                                        let row = '<tr role="row" class="odd" >' +
                                            '<td hidden="hidden">' + data.id + '</td>' +
                                            '<td>' + (i + 1) + '</td>' +
                                            '<td>' + data.code + '</td>' +
                                            '<td>' + data.nameUser + '</td>' +
                                            '<td>' + data.nameProduct + '</td>' +
                                            '<td>' + data.quantity + '</td>' +
                                            '<td>' + data.price + '</td>' +
                                            '<td>' + data.status + '</td>' +
                                            '<td> <a class="btn btn-default delete-order-btn" data-id="' + data.id + '"> <i class="far fa-trash-can"></i></a></td>' +
                                            '</tr>';
                                        bodyTable.append(row);
                                    }
                                    // Phân trang
                                    let totalPage = response.data.totalPages;
                                    let currentPage = response.data.pageable.pageNumber;
                                    if (totalPage > 0) {
                                        $("#pageId").empty();
                                        let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',5,event)" href="#">Previous</a></li>';
                                        for (let i = 0; i < totalPage; i++) {
                                            if (currentPage === i) {
                                                pages += '            <li class="page-item active">\n' +
                                                    '                <a class="page-link " onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                    '            <li class="page-item">';
                                            } else {
                                                pages += '            <li class="page-item">\n' +
                                                    '                <a class="page-link" onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                    '            <li class="page-item">';
                                            }
                                        }
                                        pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',5,event)" href="#">Next</a></li>';
                                        $("#pageId").append(pages);
                                    }
                                },
                                error: function(error) {
                                    console.log(error);
                                }

                            });
                        }
                    });
                </script>
                <div th:replace="admin/fragments/script :: script"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
