<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <div class="content-wrapper" style="min-height: 332.4px;">
        <h3 style="text-align: center;padding: 5px 0px 5px 0px">Danh sách đơn hàng</h3>
        <form action="">
            <div class="form-group">
                <input name="keyword" th:value="${keyword}" type="text" class="form-control"
                       placeholder="Nhập nhà sản xuất tìm kiếm">
                <button type="submit" class="btn btn-block btn-outline-primary">Tìm kiếm</button>

            </div>
        </form>
        <style>
            .form-group {
                display: flex;
                align-items: center;
            }

            .form-group label {
                width: 35px;
                margin: 5px 0 0 20px;
            }

            .form-group input {
                width: 250px;
                margin-left: 20px;
                margin-right: 20px;
            }

            .form-group button {
                width: 150px;
            }

        </style>
        <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tableDate" style="width: 100%"
                               class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                               aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" hidden="hidden">ID</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">STT</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Mã đơn hàng</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Tên khách hàng</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Tên sản phẩm</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Số lượng</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Giá</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Trạng thái</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Hành động</th>

                            </tr>

                            </thead>
                            <tbody id="orders-list">

                            </tbody>

                        </table>
                    </div>
                </div>


                <nav aria-label="...">
                    <ul class="pagination" id="pageId" style="float: right;">

                    </ul>
                </nav>


                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <!-- Script tùy chỉnh -->
                <script>
                    // vừa load xong trang web sẽ chạy luôn
                    $(document).ready(function () {
                        initData();
                    })

                    function initData() {
                        let page = 0;
                        let size = 5;
                        getOrders(page, size);
                    }

                    function getOrders(page, size) {
                        let bodyTable = $('#tableDate > tbody');
                        bodyTable.empty();
                        $.ajax({
                            type: "GET",
                            url: "http://localhost:8080/order/list?page=" + page + "&size=" + size,
                            dataType: "json",
                            success: function (response) {
                                console.log(response);
                                let orders = response?.data?.content;
                                // hiển thị dữ liệu trên bảng
                                for (let i = 0; i < orders.length; i++) {
                                    let data = orders[i];
                                    let row = '<tr role="row" class="odd" >' +
                                        '<td hidden="hidden">' + data.id + '</td>' +
                                        '<td>' + (i+1) + '</td>' +
                                        '<td>' + data.code + '</td>' +
                                        '<td>' + data.name + '</td>' +
                                        '<td>' + data.nameProduct + '</td>' +
                                        '<td>' + data.quantity + '</td>' +
                                        '<td>' + data.price + '</td>' +
                                        '<td>' + data.status + '</td>' +
                                        '<td> <a class="btn btn-default delete-category-btn" data-id="' + data.id + '"> <i class="far fa-trash-can"></i></a></td>' +
                                        '</tr>';
                                    bodyTable.append(row);
                                }

                                // Phân trang
                                let totalPage = response.data.totalPages;
                                let currentPage = response.data.pageable.pageNumber;
                                if (totalPage > 0) {
                                    $("#pageId").empty();
                                    let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',5,event)" href="#">Previous</a></li>';
                                    for (let i = 0; i < totalPage; i++) {
                                        if (currentPage === i) {
                                            pages += '            <li class="page-item active">\n' +
                                                '                <a class="page-link " onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                '            <li class="page-item">';
                                        } else {
                                            pages += '            <li class="page-item">\n' +
                                                '                <a class="page-link" onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                                '            <li class="page-item">';
                                        }
                                    }
                                    pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',5,event)" href="#">Next</a></li>';
                                    $("#pageId").append(pages);
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }

                        });
                    }

                    function changePage(page, size, event) {
                        event.preventDefault();
                        getOrders(page, size);
                    }

                </script>
                <div th:replace="admin/fragments/script :: script"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
