<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="user/fragments/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <header th:replace="user/fragments/header :: header"></header>
    <title>Title</title>
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                         width="150px"
                                                                                         src="https://tse2.mm.bing.net/th?id=OIP.QhjGIVoUjtEjOyqbiMN92AHaGL&pid=Api&P=0&h=220"><span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <form id="formProfile">
                    <input type="hidden" id="code" name="code" class="form-control">
                    <input type="hidden" id="userId" name="userId" class="form-control">
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Họ và tên</label>
                            <input type="text" class="form-control" name="newFullName" id="newFullName"></div>
                        <div class="col-md-12"><label class="labels">Tên đăng nhập</label>
                            <input type="text" class="form-control" name="newUserName" id="newUserName"></div>
                        <div class="col-md-12"><label class="labels">Ngày sinh</label>
                            <input type="text" class="form-control" name="newDate" id="newDate"></div>
                        <div class="col-md-12"><label class="labels">Điện thoại</label>
                            <input type="text" class="form-control" name="newPhone" id="newPhone"></div>
                        <div class="col-md-12"><label class="labels">Địa chỉ</label>
                            <input type="text" class="form-control" name="newAddress" id="newAddress"></div>
                        <div class="col-md-12"><label class="labels">Email</label>
                            <input type="text" class="form-control" name="newEmail" id="newEmail"></div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Lưu thay đổi</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-4">
            <form id="formChangePassword">
                <div class="p-3 py-5">
                    <div class="col-md-12"><span style="font-size: 20px">Đổi mật khẩu</span></div>
                    <br>
                    <div class="col-md-12"><label class="labels"> Mật khẩu hiện tại</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  placeholder="Mật khẩu cũ"
                                                                                                  value="" id="current_password"></div>
                    <br>
                    <div class="col-md-12"><label class="labels"> Mật khẩu mới</label><input type="text"
                                                                                             class="form-control"
                                                                                             placeholder="Mật khẩu mới"
                                                                                             value="" id="new_password"></div>
                    <br>
                    <div class="col-md-12"><label class="labels"> Nhập lại mật khẩu</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  placeholder="Nhập lại mật khẩu"
                                                                                                  value="" id="password_confirmation"></div>


                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div th:replace="user/fragments/footer :: footer"></div>

<div th:replace="user/fragments/script :: script"></div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:8080/api/user/getUser',
            type: 'GET',
            success: function (data) {
                $('#userId').val(data.data.id);
                $('#newFullName').val(data.data.name);
                $('#code').val(data.data.code);
                $('#newUserName').val(data.data.username);
                $('#newDate').val(data.data.birthday);
                $('#newPhone').val(data.data.phone);
                $('#newEmail').val(data.data.email);
                $('#newAddress').val(data.data.address);
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
    $(document).ready(function () {
        $('#formProfile').submit(function (event) {
            event.preventDefault();
            var userData = {
                id: $('#userId').val(),
                name: $('#newFullName').val(),
                code: $('#code').val(),
                username: $('#newUserName').val(),
                birthday: $('#newDate').val(),
                phone: $('#newPhone').val(),
                email: $('#newEmail').val(),
                address: $('#newAddress').val()
            };
            $.ajax({
                url: 'http://localhost:8080/api/user/update/' + userData.id,
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(userData),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    console.log("susscess")
                    window.location.href = "/user/profile";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });


</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:8080/api/user/getUser',
            type: 'GET',
            success: function (data) {
                $('#userId').val(data.data.id);
                // $('#current_password').val(data.data.password);
            },
            error: function (error) {
                console.error(error);
            }
        });
    });

    $(document).ready(function () {
        $('#formChangePassword').submit(function (event) {
            event.preventDefault();
            var changePasswordData = {
                id: $('#userId').val(),
                oldPassword: $('#current_password').val(),
                newPassword: $('#new_password').val(),
                confirmPassword: $('#password_confirmation').val()
            };
            $.ajax({
                url: 'http://localhost:8080/api/user/updatePass/' + changePasswordData.id,
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(changePasswordData),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    console.log("success");
                    // Reload or redirect to a new page after successful password change
                    // window.location.reload();
                    // or
                    window.location.href = "/user/profile";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });

</script>
</body>
</html>
