<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

   <nav th:replace="admin/fragments/navbar :: navbar "></nav>

    <!-- Main Sidebar Container -->
   <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                        <h1 style="text-align: center" class="m-0 text-dark">Trang chủ</h1>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="countAccount"></h3>

                                <p>Tài khoản trong hệ thống</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a th:href="@{/admin/list_account}" class="small-box-footer">Thêm thông tin <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3 id="countProduct"></h3>

                                <p>Số lượng sản phẩm</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a th:href="@{/admin/list_product}" class="small-box-footer">Thêm thông tin <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3 id="countOrders"></h3>

                                <p>Số lượng đơn hàng</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a th:href="@{/admin/order}" class="small-box-footer">Thêm thông tin <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>65</h3>

                                <p>Số lượng đánh giá</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">Thêm thông tin <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
</div>
<style>
    a,p,h3,h1{
        font-family: "Times New Roman";
    }
</style>

<div th:replace="admin/fragments/script :: script"></div>

</body>
</html>
<script>

    $(document).ready(function() {
        initDataAdmin();
    });
    function initDataAdmin(){
        getCountAccount();
        getCountProduct();
        getCountOrders();
    }
    function getCountAccount(){
        $.ajax({
            url: 'http://localhost:8080/api/user/countAccount',
            type: 'GET',
            success: function(data) {
                $('#countAccount').text(data.data);
                console.log(data)
            },
            error: function() {
                console.log(error);
            }
        });
    }
    function getCountProduct(){
        $.ajax({
            url: 'http://localhost:8080/product/countProduct',
            type: 'GET',
            success: function(data) {
                $('#countProduct').text(data.data);
                console.log(data)
            },
            error: function() {
                console.log(error);
            }
        });
    }
    function getCountOrders(){
        $.ajax({
            url: 'http://localhost:8080/order/countOrders',
            type: 'GET',
            success: function(data) {
                $('#countOrders').text(data.data);
                console.log(data)
            },
            error: function() {
                console.log(error);
            }
        });
    }

</script>
