<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
<nav th:replace="admin/fragments/navbar :: navbar "></nav>
<aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
<div class="contents">
    <div class="cols">
        <img style="height: 360px; width: 288px; margin-top: 57px; margin-left: 23px; object-fit: cover"
             th:src="@{/admin/dist/img/admin.jpg}"
             alt="Vui lòng thêm ảnh đại diện">
    </div>
    <div class="main_content">
        <h5>Thông tin cá nhân</h5>
        <form action="" method="post" class="form_edit" id="formProfile">
            <input type="hidden" id="userId" name="userId" class="form-control">
            <input type="hidden" id="code" name="code" class="form-control">
            <div>
                <div><span>Tên đăng nhập:</span></div>
                <div><input type="text" name="newUserName" id="newUserName"></div>
            </div>
            <div>
                <div><span>Họ tên:</span></div>
                <div><input type="text" name="newFullName" id="newFullName"></div>
            </div>

            <div>
                <div><span for="email-input">Email:</span></div>
                <div><input type="email" id="newEmail" name="newEmail"></div>
            </div>
            <div>
                <div><span>Điện thoại:</span></div>
                <div><input type="number" name="newPhone" id="newPhone"></div>
            </div>
            <div>
                <div><span>Ngày sinh:</span></div>
                <div><input type="date" name="newDate" id="newDate"></div>
            </div>
            <div>
                <div><span>Địa chỉ:</span></div>
                <div><input type="text" name="newAddress" id="newAddress"></div>
            </div>
            <!--            <div >-->
            <!--                <div><span >Ảnh đại diện:</span></div>-->
            <!--                <div><input type="file"  name="img"></div>-->
            <!--            </div>-->
            <div>
                <button type="submit" style="margin-left: 149px">Cập nhật</button>
            </div>
        </form>

        <a style="width: 150px; float: left;margin-left: 156px; margin-top: 15px; cursor: pointer" data-toggle="modal"
           data-target="#modal-lg">Đổi mật khẩu</a>
        <div style="margin-left:200px ; margin-top: 50px" class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="width: 500px">
                    <form method="post" id="formChangePassword">
                        <div style="text-align: center; margin-top: 30px">
                            <h4 class="modal-title">Đổi mật khẩu</h4>
                        </div>
                        <div class="modal-body">
                            <label style="width: 200px;margin-left: 32px">Mật khẩu hiện tại : </label>
                            <div style="text-align: center" class="form-group">
                                <input type="password" id="password-input current_password" name="current_password"
                                       placeholder="Nhập mật khẩu cũ">
                            </div>
                            <label style="width: 200px;margin-left: 32px">Mật khẩu mới : </label>
                            <div style="text-align: center" class="form-group">
                                <input type="password" id="password-input password" name="password"
                                       placeholder="Nhập mật khẩu mới">
                            </div>
                            <label style="width: 200px;margin-left: 32px">Xác nhận mật khẩu mới : </label>
                            <div style="text-align: center" class="form-group">
                                <input type="password" id="password-input password_confirmation"
                                       name="password_confirmation" placeholder="Nhập lại mật khẩu cũ">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
<div th:replace="admin/fragments/script :: script"></div>
</body>
<style>
    /* Thiết lập kiểu cho input */
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    input[type="file"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    input {
        width: 400px;
    }

    /* Thiết lập kiểu cho button */
    button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .cols {
        float: left;
        width: 400px;
    }

    .contents {
        margin-left: 450px;
        margin-top: 60px;
    }

    .main_content {
        margin-left: 400px;
    }

    button {
        display: inline-block;
        margin-right: 20px; /* Để cách giữa nút "Cập nhật" và nút "Đổi mật khẩu" */
    }

    .btn-outline-info {
        display: inline-block;
    }

    a[data-toggle="modal"]:hover {
        color: blue; /* Màu chữ sẽ thay đổi khi di chuột vào */
        text-decoration: underline; /* Gạch chân chữ khi di chuột vào */
    }

    label, a {
        font-size: 17px;
    }

</style>
</html>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:8080/api/user/getUser',
            type: 'GET',
            success: function (data) {
                $('#userId').val(data.data.id);
                $('#code').val(data.data.code)
                $('#newFullName').val(data.data.name);
                $('#newUserName').val(data.data.username);
                $('#newDate').val(data.data.birthday);
                $('#newPhone').val(data.data.phone);
                $('#newEmail').val(data.data.email);
                $('#newAddress').val(data.data.address);

            },
            error: function (error) {
                console.error(error);
            }
        });

        $('#formProfile').submit(function(event) {
            event.preventDefault();
            var userData = {
                id: $('#userId').val(),
                code:$('#code').val(),
                name: $('#newFullName').val(),
                username: $('#newUserName').val(),
                email: $('#newEmail').val(),
                phone: $('#newPhone').val(),
                birthday: $('#newDate').val(),
                address: $('#newAddress').val()
            };
            $.ajax({
                url: 'http://localhost:8080/api/user/update/' + userData.id,
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(userData),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    console.log("susscess")
                    window.location.href = "/admin/profile";
                },
                error: function (error){
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {

    });
</script>


<script>
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:8080/api/user/getUser',
            type: 'GET',
            success: function (data) {
                $('#userId').val(data.data.id);
                $('#current_password').val(data.data.password);
            },
            error: function (error) {
                console.error(error);
            }
        });
    });

    $(document).ready(function () {
        $('#formChangePassword').submit(function(event) {
            event.preventDefault();
            var changePasswordData = {
                id: $('#userId').val(),
                oldPassword: $('#current_password').val(),
                newPassword: $('#new_password').val(),
                confirmPassword: $('#password_confirmation').val()
            };
            $.ajax({
                url: 'http://localhost:8080/api/user/updatePass/' + changePasswordData.id,
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(changePasswordData),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    console.log("success");
                    // Reload or redirect to a new page after successful password change
                    // window.location.reload();
                    // or
                    // window.location.href = "/admin/profile";
                },
                error: function (error){
                    console.log(error);
                }
            });
        });
    });

</script>