<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <nav th:replace="Admin/fragments/navbar :: navbar"></nav>
  <aside th:replace="Admin/fragments/sidebar :: sidebar"></aside>
  <!-- Content -->
  <div class="content-wrapper" style="min-height: 332.4px;">
    <h3 style="text-align: center;padding: 5px 0px 5px 0px">Danh sách nhà sản xuất</h3>
    <form action="">
      <div class="form-group">

        <input name="keyword" th:value="${keyword}"  type="text" class="form-control"  placeholder="Nhập nhà sản xuất tìm kiếm">
        <button type="submit" class="btn btn-block btn-outline-primary">Tìm kiếm</button>

      </div>
    </form>
    <style>
      .form-group {
        display: flex;
        align-items: center;
      }

      .form-group label {
        width: 35px;
        margin: 5px 0 0 20px;
      }

      .form-group input {
        width: 250px;
        margin-left: 20px;
        margin-right: 20px;
      }

      .form-group button {
        width: 150px;
      }

    </style>
    <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-6"></div>
          <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table style="width: 100%" id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
              <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Mã NSX</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Tên NSX</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Hành động</th>
              </tr>
              </thead>
              <tbody>
              <tr role="row" class="odd" th:each="producer : ${list}">
                <td tabindex="0" class="sorting_1" th:text="${producer.id}"></td>
                <td th:text="${producer.code}"></td>
                <td th:text="${producer.name}"></td>

                <td>
                  <a th:href="@{/admin/update_producer/{id}(id=${producer.id})}" type="button" class="btn btn-default">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </a>

                  <a th:href="@{/admin/delete_producer/{id}(id=${producer.id})}" onclick="return confirm('ban chac chan chu')" type="button" class="btn btn-default">
                    <i class="far fa-trash-can"></i>
                  </a>


                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
              <ul style="margin-left: 62%" class="pagination">
                <li class="paginate_button page-item previous disabled" id="example2_previous">
                  <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                <li class="paginate_button page-item next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->

    <script>
      function hienThiXacNhanXoa() {
        var xacNhan = confirm("Bạn có chắc chắn muốn xóa không?");
        if (xacNhan) {
          // Thực hiện xóa
        } else {
          // Không thực hiện xóa
        }
      }
    </script>
    <style>
      table,tr,th,td,h3{
        text-align: center;
        font-family: "Times New Roman";
      }

    </style>
    <aside class="control-sidebar control-sidebar-dark"></aside>
  </div>
  <div th:replace="Admin/fragments/script :: script"></div>
</body>
</html>
