<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>
    <!-- Content -->
    <form  method="post" id="formUpdate">
        <div class="content-wrapper" style="min-height: 332.4px;">
            <h3 style="text-align: center">Chỉnh sửa danh mục</h3>
            <div class="card-body" style="padding: 0 1.25rem 1.25rem 1.25rem">
                <input type="hidden" id="ids" class="form-control">
                <div class="form-group">
                    <label>Mã nhà sản xuất</label>
                    <input id="code" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tên nhà sản xuất</label>
                    <input id="name"  type="text" class="form-control">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Cập nhập</button>
            </div>
        </div>
    </form>
    <!-- End Content -->
    <style>
        div, label,button,h3{
            font-family: "Times New Roman";
        }
    </style>
    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>
<div th:replace="admin/fragments/script :: script"></div>

<script>
    function getInfoData(producer){
        $('#ids').val(producer.id);
        $('#code').val(producer.code);
        $('#name').val(producer.name);
    }
    $(document).ready(function (){
       var idProducer = new URLSearchParams(window.location.search).get('id');
       if (idProducer){
           $.ajax({
              type:"GET",
              url:"/producer/search/" + idProducer,
              success: function (response){
                  getInfoData(response.data);
              } ,
               error: function (error){
                  console.log(error);
               }
           });
       }

        $('#formUpdate').submit(function (event){
            event.preventDefault();
            var datas = {
                id: $('#ids').val(),
                code: $('#code').val(),
                name: $('#name').val()
            };
            $.ajax({
                type: "POST",
                url: "/producer/update/" + datas.id,
                contentType: "application/json",
                data: JSON.stringify(datas),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    window.location.href = "/admin/producer";
                },
                error: function (error){
                    console.log(error);
                }
            });
        });
    });
</script>

</body>
</html>
