<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/head :: head"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
<!--================ Start Header Menu Area =================-->
<header th:replace="user/fragments/header :: header"></header>
<!--================ End Header Menu Area =================-->

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Single</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/c1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/c2.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1" id="productDetail">

                <div class="s_product_text">
                    <input value="" id="ids">
                    <h4>Tên sản phẩm : <input style="border: none" readonly type="text" id="name"></h4>
                    <h3>Giá : <input style="border: none;width: 80px" readonly type="text" id="price">VNĐ</h3>
                    <ul class="list">
                        <li><a><span>Mã :</span> <input style="border: none" readonly type="text" id="code"></a></li>

                        <li><a><span>Chất liệu :</span> <input style="border: none" readonly type="text" id="material"></a>
                        </li>
                        <li><a><span>Danh mục :</span> <input style="border: none" readonly type="text"
                                                              id="categoryId"></a></li>
                        <li><a><span>Nhà sản xuất :</span> <input style="border: none" readonly type="text"
                                                                  id="producerId"></a></li>
                    </ul>
                    <div class="form-group">
                        <label>Kích thước :</label>
                        <div class="form-group-size" name="sizeId" id="list_size">

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Màu sắc</label>
                        <div class="form-group-color" name="colorId" id="list_color">

                        </div>
                    </div>
                    <p><span>Mô tả :</span><textarea readonly class="form-control" name="productDescription"
                                                     id="description" cols="150"
                                                     rows="5"></textarea></p>
                    <div class="product_count">
                        <a id="buyNowButton" class="button primary-btn" th:href="@{/user/productCheckout}">Mua ngay</a>
                    </div>
                </div>
<!--                    <button id="addToCartButton" class="button primary-btn" type="button">Thêm vào giỏ hàng</button>-->

                    <button id="addToCartButton" class="edit_cart" type="button"><i style="font-size: 20px" class="ti-shopping-cart"></i></button>

                </div>
<!--                <a class="edit_cart" th:href="@{/user/cart}"><i style="font-size: 20px"-->
<!--                                                                class="ti-shopping-cart"></i></a>-->

            </div>

        </div>
    </div>
</div>
<div th:replace="user/fragments/script :: script"></div>
<div th:replace="user/fragments/script :: script"></div>
<style>
    .edit_cart {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #384aeb;
        position: relative;
        margin-left: 10px;
    }

    .edit_cart i {
        position: absolute;
        left: 30%;
        bottom: 31%;
        color: white;

    }

    .edit_cart:hover {
        border: 1px solid #384aeb;
        background: transparent;

    }

    .edit_cart:hover i {
        color: black;
    }
    .form-group-size .custom-control {
        display: inline-block;
        margin-right: 90px;
    }
    .form-group-color .custom-control {
        display: inline-block;
        margin-right: 90px;
    }
</style>
</body>
</html>
<script>
    function getInfoDataProduct(product) {
        $('#ids').val(product.id);
        $('#code').val(product.code);
        $('#name').val(product.name);
        $('#material').val(product.material);
        $('#quantity').val(product.quantity);
        $('#price').val(product.price);
        $('#import_price').val(product.import_price);
        $('#description').val(product.description);
        $('#producerId').val(product.producer)
        $('#categoryId').val(product.category)
        $('#list_size').val(product.size)
        $('#list_color').val(product.color)
    }

    function initData() {
        getSize();
        getColor();

    }

    function getColor() {
        var productId = new URLSearchParams(window.location.search).get('id');
        let list = $('#list_color');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/color/getColor/" + productId,
            dataType: "json",
            success: function (response) {
                let colors = response?.data;
                colors.forEach(function (color) {
                    let radioDiv = $('<div class="custom-control custom-radio"> \
                <input class="custom-control-input" type="radio" id="customRadio' + color.id + '" name="customRadio2" value="' + color.id + '"> \
                <label for="customRadio' + color.id + '" class="custom-control-label">' + color.name  +
                        ' <img style="width: 20px;height: 20px;border-radius: 50%" src="data:image/png;base64, ' + color.image + '" alt="' + color.name + '"></label> \
            </div>');
                    list.append(radioDiv);
                });


                console.log("colors: ", colors);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function getSize() {
        var productId = new URLSearchParams(window.location.search).get('id');
        let list = $('#list_size');
        list.empty();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/size/getSize/" + productId,
            dataType: "json",
            success: function (response) {
                let sizes = response?.data;
                sizes.forEach(function (size) {
                    let checkbox = $('<div class="custom-control custom-checkbox"> \
                    <input class="custom-control-input" type="checkbox" id="customCheckbox' + size.id + '" value="' + size.id + '"> \
                    <label for="customCheckbox' + size.id + '" class="custom-control-label">' + size.name + '</label> \
                </div>');
                    $('#list_size').append(checkbox)
                });
                console.log("size : ", sizes)
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    $(document).ready(function () {
        initData();
        var productId = new URLSearchParams(window.location.search).get('id');
        if (productId) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/product/search/" + productId,
                success: function (response) {
                    getInfoDataProduct(response.data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        $('#addToCartButton').click(function () {
            let sizeIds = [];
            $('input[type="checkbox"]').each(function () {
                var sThisVal = (this.checked ? parseInt($(this).val()) : "");
                if (!isNaN(sThisVal) && sThisVal!="") {
                    sizeIds.push(sThisVal);
                }
            });


            let colorIds = [];
            $('input[type="radio"]').each(function () {
                var sThisVal = (this.checked ? parseInt($(this).val()) : "");
                if (!isNaN(sThisVal) && sThisVal!="") {
                    colorIds.push(sThisVal);
                }
            });

            var productData = {
                productId: $('#ids').val(),
                colorId: colorIds,
                sizeId: sizeIds,
            };

            $.ajax({
                type: "POST",
                url: "http://localhost:8080/cart/addPInCart",
                contentType: "application/json",
                data: JSON.stringify(productData),
                success: function(response) {
                    console.log("thanh cong");
                    console.log(response);

                },
                error: function(xhr, status, error) {
                    console.log("loi");
                    console.log(error);

                }
            });
        });
    });

</script>