<!-- Navbar -->
<nav th:fragment="navbar" class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>



        <!-- Right navbar links -->
        <ul style="margin-right: 30px" class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <li class="dropdown user user-menu">
                <a th:href="@{/admin}">
                    <img th:src="@{/admin/dist/img/admin.jpg}" class="user-image" alt="User Image">
                </a>
                <div class="dropdowns">
                    <button onclick="toggleDropdown()" class="dropbtns"><span class="hidden-xs">Đỗ Thị Hồng</span></button>
                    <div id="myDropdown" class="dropdown-contents">
                        <a th:href="@{/admin/profile}" class="btn btn-default btn-flat">Hồ sơ</a>
                        <a th:href="@{/admin-logout}" class="btn btn-default btn-flat">Đăng xuất</a>

                    </div>
                </div>
            </li>
        </ul>

    <style>
        .dropdowns {
            position: relative;
            display: inline-block;
            border: none;
        }
        .dropbtns {
            background-color: orange;
            color: black;
            padding: 12px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            font-family: "Times New Roman";
            border-radius: 10px;
        }
        .dropdown-contents {
            display: none;
            position: absolute;
            min-width: 120px;
            z-index: 1;
            border: none;
        }

        /* Links inside the dropdown */
        .dropdown-contents a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border: none;
            background-color: whitesmoke;
            border-radius: 30px;
        }
        .dropbtns:focus {
            outline: none;
        }

        /* Change color of dropdown links on hover */
        .dropdown-contents a:hover {
            background-color: wheat;
        }
    </style>
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("myDropdown");
            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                dropdown.style.display = "block";
            }
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === 'block') {
                        openDropdown.style.display = 'none';
                    }
                }
            }
        }
    </script>
</nav>

