<div th:fragment="script">
    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/admin/js/jquery-ui.js}"></script>
    <script th:src="@{/admin/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/js/adminlte.min.js}"></script>
    <script th:src="@{/admin/js/dashboard.js}"></script>
    <script th:src="@{/admin/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/admin/tinymce/config.js}"></script>
    <script th:src="@{/admin/js/function.js}"></script>
</div>