<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">

        <!-- Brand Logo -->
        <a th:href="@{/admin}" class="brand-link">
            <img th:src="@{/admin/dist/img/logo.jpg}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light" style="text-align: center">Admin</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img style="width: 40px;height: 40px;border-radius: 50%" th:src="@{/admin/dist/img/admin.jpg}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a th:href="@{/admin}" class="d-block">Đỗ Thị Hồng</a>
                </div>
            </div>


            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a style="padding: 8px 16px" th:href="@{/admin}">
                        <i class="nav-icon fas fa-tachometer-alt"></i> <span>Trang chủ</span>
                    </a>
                </li>

            </ul>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-address-card"></i>
                            <p>
                                Quản lý tài khoản
                                <i class="fas fa-angle-left right"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/add_account}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Thêm tài khoản</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/list_account}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách tài khoản</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-list"></i>
                            <p>
                                Quản lý danh mục
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/add_category}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Thêm danh mục</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/category}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách danh mục</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-vest-patches"></i>
                            <p>
                                Quản lý sản phẩm
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/add_product}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Thêm sản phẩm</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/list_product}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách sản phẩm</p>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-house-user"></i>
                            <p>
                                Quản lý nhà sản xuất
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/add_producer}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Thêm nhà sản xuất</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/list_producer}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách nhà sản xuất</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-chart-simple"></i>
                            <p>
                                 Thống kê
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="pages/tables/simple.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Thống kê ngày</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pages/tables/data.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Thống kê theo tháng</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    <style>
        a,p{
            font-family: "Times New Roman";
        }
    </style>
</aside>