<div th:fragment="footer">
    <!-- ================ Subscribe section start ================= -->
    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">NHẬN CẬP NHẬT TỪ MỌI NƠI</h3>
                <p>Vui lòng gửi email chi tiết cho tôi qua email</p>
                <div id="mc_embed_signup">
                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Nhập email của bạn" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập email của bạn '" >
                            <div class="info"></div>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1" type="submit">Theo dõi ngay</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- ================ Subscribe section end ================= -->
    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Về chúng tôi</h4>
                            <p>
                                Chào mừng bạn đến với trang web bán quần áo của chúng tôi!
                                Chúng tôi tự hào cung cấp những sản phẩm thời trang chất lượng với sự đa dạng và phong phú.
                                Tại đây, bạn sẽ tìm thấy những bộ trang phục phong cách và phù hợp với mọi dịp, từ công sở đến dạo phố hay dự tiệc.
                                Chúng tôi cam kết mang đến trải nghiệm mua sắm trực tuyến tuyệt vời và dịch vụ chăm sóc khách hàng tốt nhất.
                                Hãy khám phá ngay và tìm cho mình những bộ trang phục ưng ý nhất!
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>

                    <div class=" offset-lg-1 col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Hàng trưng bày</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img th:src="@{/user/img/gallery/r1.jpg}" alt=""></li>
                                <li><img th:src="@{/user/img/gallery/r2.jpg}" alt=""></li>
                                <li><img th:src="@{/user/img/gallery/r3.jpg}" alt=""></li>
                                <li><img th:src="@{/user/img/gallery/r5.jpg}" alt=""></li>
                                <li><img th:src="@{/user/img/gallery/r7.jpg}" alt=""></li>
                                <li><img th:src="@{/user/img/gallery/r8.jpg}" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Liên hệ chúng tôi</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Địa chỉ
                                <p>Phúc diễn, Quận Bắc Từ Liêm, thành phố Hà Nội</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Số điện thoại
                                </p>
                                <p>
                                    +84 339205335 <br>

                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    dinhxuantruong2003coi@gmail.com <br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- footer -->
    </footer>
    <!--================ End footer Area  =================-->
</div>